# Fields to start Mina daemon (Required)
MINA='${MINATAG:-"minaprotocol/mina-daemon:1.2.0-fe51f1e-mainnet"}'
PEER_LIST=https://storage.googleapis.com/mina-seed-lists/mainnet_seeds.txt
MINA_PRIVKEY_PASS='${MINA_PRIVKEY_PASS}'
CODA_PRIVKEY_PASS='${CODA_PRIVKEY_PASS}'
UPTIME_PRIVKEY_PASS='${UPTIME_PRIVKEY_PASS}'
#PATH to your Mina private key file.
KEYPATH='${KEYPATH}'
UPTIME_KEYPATH='${KEYPATH}'
COINBASE_RECEIVER='${COINBASE_RECEIVER}'

# Next fields for SIDECAR (Optional)
SIDECAR='${SIDECARTAG:-"minaprotocol/mina-bp-stats-sidecar:1.1.6-386c5ac"}'

# Next fields for Archive DB (Optional)
ARCHIVE='${ARCHIVETAG:-"minaprotocol/mina-archive:1.2.0-fe51f1e"}'
POSTGRES=postgres:13.3
PGUSER=postgres
PGPASSWORD='${PGPASSWORD}'
PGDATABASE=archive
PGURI=postgres://postgres:5432/archive

# Next fields for upload blocks to GCP (Optional)
# Example: name-54f58bcv6s7.json (keyfile from your GCP)
GCLOUD_KEYFILE='${GCLOUD_KEYFILE}'
# Example: devnet or mainnet
NETWORK_NAME=mainnet
# Example: mina-archive-domain-com
GCLOUD_BLOCK_UPLOAD_BUCKET='${GCLOUD_BLOCK_UPLOAD_BUCKET}'
